In [20]:
import pandas as pd

# 1 - Importando od Dados
data = pd.read_excel("data/VendaCarros.xlsx")
print("Data base")
print(data)

Data base
    DataNotaFiscal    Fabricante          Estado  ValorVenda  ValorCusto  \
0       2012-10-04   Rolls Royce       São Paulo       95000       50000
1       2012-01-01  Aston Martin       São Paulo      120000       75000
2       2012-02-02   Rolls Royce       São Paulo       88000       75000
3       2012-03-03   Rolls Royce       São Paulo       89000       88000
4       2012-04-04   Rolls Royce       São Paulo       92000       62000
..             ...           ...             ...         ...         ...
452     2015-09-23  Aston Martin  Rio de Janeiro       39750       27500
453     2015-10-24  Aston Martin  Rio de Janeiro       40440       22500
454     2015-11-25   Rolls Royce  Rio de Janeiro       72000       22500
455     2015-11-26  Aston Martin  Rio de Janeiro       40440       36125
456     2015-11-27  Aston Martin  Rio de Janeiro       77250       22500

     TotalDesconto  CustoEntrega  CustoMaoDeObra  \
0            500.0           750             750
1              0.0          1500             550
2            750.0          1000             550
3              0.0          1000             550
4              0.0          1500             550
..             ...           ...             ...
452         1300.0           -75            1250
453          550.0           175            1250
454         1050.0           -75             950
455          800.0           875            1250
456          550.0           875            1250

                        NomeCliente       Modelo       Cor   Ano
0                       Aldo Motors     Camargue  Vermelho  2012
1                       Honest John          DBS      Azul  2012
2                     Bright Orange  Prata Ghost     Verde  2012
3                       Honest John  Prata Ghost      Azul  2012
4                       Wheels'R'Us     Camargue     Prata  2012
..                              ...          ...       ...   ...
452  Buckingham Palace Car Services          DB9     Preto  2015
453  British Luxury Automobile Corp          DB9  Vermelho  2015
454                Classy Car Sales     Camargue      Azul  2015
455                 Ambassador Cars          DB9     Verde  2015
456                  Embassy Motors          DB9     Prata  2015

[457 rows x 12 columns]

In [22]:
# 2 - Listar os 5 primeiros registros
print("5 primeiros registros")
print(data.head())

5 primeiros registros
  DataNotaFiscal    Fabricante     Estado  ValorVenda  ValorCusto  \
0     2012-10-04   Rolls Royce  São Paulo       95000       50000
1     2012-01-01  Aston Martin  São Paulo      120000       75000
2     2012-02-02   Rolls Royce  São Paulo       88000       75000
3     2012-03-03   Rolls Royce  São Paulo       89000       88000
4     2012-04-04   Rolls Royce  São Paulo       92000       62000

   TotalDesconto  CustoEntrega  CustoMaoDeObra    NomeCliente       Modelo  \
0          500.0           750             750    Aldo Motors     Camargue
1            0.0          1500             550    Honest John          DBS
2          750.0          1000             550  Bright Orange  Prata Ghost
3            0.0          1000             550    Honest John  Prata Ghost
4            0.0          1500             550    Wheels'R'Us     Camargue

        Cor   Ano
0  Vermelho  2012
1      Azul  2012
2     Verde  2012
3      Azul  2012
4     Prata  2012

In [16]:
# 3 - Listas 5 últimos registros
print("5 últimos registros")
print(data.tail())

5 últimos registros
    DataNotaFiscal    Fabricante          Estado  ValorVenda  ValorCusto  \
452     2015-09-23  Aston Martin  Rio de Janeiro       39750       27500
453     2015-10-24  Aston Martin  Rio de Janeiro       40440       22500
454     2015-11-25   Rolls Royce  Rio de Janeiro       72000       22500
455     2015-11-26  Aston Martin  Rio de Janeiro       40440       36125
456     2015-11-27  Aston Martin  Rio de Janeiro       77250       22500

     TotalDesconto  CustoEntrega  CustoMaoDeObra  \
452         1300.0           -75            1250
453          550.0           175            1250
454         1050.0           -75             950
455          800.0           875            1250
456          550.0           875            1250

                        NomeCliente    Modelo       Cor   Ano
452  Buckingham Palace Car Services       DB9     Preto  2015
453  British Luxury Automobile Corp       DB9  Vermelho  2015
454                Classy Car Sales  Camargue      Azul  2015
455                 Ambassador Cars       DB9     Verde  2015
456                  Embassy Motors       DB9     Prata  2015

In [17]:
# 4 - Contagem de valores por Fabricante
print("Contagem de valores por Fabricante")
print(data["Fabricante"].value_counts())

Contagem de valores por Fabricante
Fabricante
Jaguar          129
Aston Martin    110
Bentley          71
Rolls Royce      63
MGB              36
Triumph          34
TVR              14
Name: count, dtype: int64