In [16]:
import pandas as pd

# 1 - Importando od Dados
data = pd.read_excel("data/VendaCarros.xlsx")
print("Data base")
print(data)

Data base
    DataNotaFiscal    Fabricante          Estado  ValorVenda  ValorCusto  \
0       2012-10-04   Rolls Royce       São Paulo       95000       50000
1       2012-01-01  Aston Martin       São Paulo      120000       75000
2       2012-02-02   Rolls Royce       São Paulo       88000       75000
3       2012-03-03   Rolls Royce       São Paulo       89000       88000
4       2012-04-04   Rolls Royce       São Paulo       92000       62000
..             ...           ...             ...         ...         ...
452     2015-09-23  Aston Martin  Rio de Janeiro       39750       27500
453     2015-10-24  Aston Martin  Rio de Janeiro       40440       22500
454     2015-11-25   Rolls Royce  Rio de Janeiro       72000       22500
455     2015-11-26  Aston Martin  Rio de Janeiro       40440       36125
456     2015-11-27  Aston Martin  Rio de Janeiro       77250       22500

     TotalDesconto  CustoEntrega  CustoMaoDeObra  \
0            500.0           750             750
1              0.0          1500             550
2            750.0          1000             550
3              0.0          1000             550
4              0.0          1500             550
..             ...           ...             ...
452         1300.0           -75            1250
453          550.0           175            1250
454         1050.0           -75             950
455          800.0           875            1250
456          550.0           875            1250

                        NomeCliente       Modelo       Cor   Ano
0                       Aldo Motors     Camargue  Vermelho  2012
1                       Honest John          DBS      Azul  2012
2                     Bright Orange  Prata Ghost     Verde  2012
3                       Honest John  Prata Ghost      Azul  2012
4                       Wheels'R'Us     Camargue     Prata  2012
..                              ...          ...       ...   ...
452  Buckingham Palace Car Services          DB9     Preto  2015
453  British Luxury Automobile Corp          DB9  Vermelho  2015
454                Classy Car Sales     Camargue      Azul  2015
455                 Ambassador Cars          DB9     Verde  2015
456                  Embassy Motors          DB9     Prata  2015

[457 rows x 12 columns]

In [17]:
# Descobrir o tipo do banco de dados
print(type(data))
print(data.dtypes)
print("\n-----------------------------------\n")
# Selecionando uma coluna
print("Selecionando uma coluna")
print(data["Estado"])

<class 'pandas.core.frame.DataFrame'>
DataNotaFiscal    datetime64[ns]
Fabricante                object
Estado                    object
ValorVenda                 int64
ValorCusto                 int64
TotalDesconto            float64
CustoEntrega               int64
CustoMaoDeObra             int64
NomeCliente               object
Modelo                    object
Cor                       object
Ano                        int64
dtype: object

-----------------------------------

Selecionando uma coluna
0           São Paulo
1           São Paulo
2           São Paulo
3           São Paulo
4           São Paulo
            ...
452    Rio de Janeiro
453    Rio de Janeiro
454    Rio de Janeiro
455    Rio de Janeiro
456    Rio de Janeiro
Name: Estado, Length: 457, dtype: object

Para deixar o trabalho mais limpo, é interessante separar uma parte do Banco de Dados para estudar.

In [18]:
# Selecionando colunas especificas do dataframe
df = data[["Fabricante", "ValorVenda", "Ano"]]
print(df)

       Fabricante  ValorVenda   Ano
0     Rolls Royce       95000  2012
1    Aston Martin      120000  2012
2     Rolls Royce       88000  2012
3     Rolls Royce       89000  2012
4     Rolls Royce       92000  2012
..            ...         ...   ...
452  Aston Martin       39750  2015
453  Aston Martin       40440  2015
454   Rolls Royce       72000  2015
455  Aston Martin       40440  2015
456  Aston Martin       77250  2015

[457 rows x 3 columns]

In [19]:
# Criando uma tabela pivô
pivot_table = df.pivot_table(
    index="Ano", 
    columns="Fabricante", 
    values="ValorVenda",
    # Função de agregação, para cada um dos anos e fabricantes, somar os valores de venda
    aggfunc="sum"
    )
print(pivot_table)

Fabricante  Aston Martin    Bentley     Jaguar       MGB  Rolls Royce  \
Ano
2012           1152000.0   919500.0   647500.0       NaN     466500.0
2013           2355660.0   702500.0  1380000.0  315000.0    1947300.0
2014           2262440.0  1811500.0  1352000.0       NaN     960500.0
2015           4915940.0  1517750.0  2939500.0  696000.0    3982600.0

Fabricante       TVR   Triumph
Ano
2012             NaN       NaN
2013        171750.0  286500.0
2014             NaN       NaN
2015        327000.0  588500.0

In [20]:
# Importa a tabela pivô para um arquivo excel
pivot_table.to_excel("data/PivotTable.xlsx", "Relatorio")

C:\Users\elyss\AppData\Local\Temp\ipykernel_8496\367079590.py:2: FutureWarning: Starting with pandas version 3.0 all arguments of to_excel except for the argument 'excel_writer' will be keyword-only.
  pivot_table.to_excel("data/PivotTable.xlsx", "Relatorio")